<div class="container">
  <div class="col">
    <h2>Viewing <%= @user.name %>'s account</h2>
  </div>
  <div class="col">
    <%= link_to "View all Spin Classes", spin_classes_path %>
  </div>
  <div class="col">
    <!-- To do this, you'd link to the same page but pass a user id to filter down the collection. This may be a good place to use a scope method. -->
    <%#= link_to "View my classes", user_spin_classes_path(current_user) %>
  </div>
</div>
