<div class="container">
  <div class="col">
    <h2><%= @user.name %>'s account</h2>
    <h3>Click to view the classes available:</h3>
  </div>
  <div class="col">
    <%= link_to "View all Spin Classes", spin_classes_path %>
</div>
