<%= form_for @spin_class do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "Create Class", class: "btn btn-primary btn-sm"%>
<% end %>
