<h2>You have joined a class!</h2>
<h4> <%= @spin_class.name %></h4>
<h5>List of all attendees:</h5>
<ul>
<% @spin_class.users.each do |user| %>
 <li><%= user.name %></li>
  <% end %>


</br>
<%= link_to('Back', spin_classes_path) %>
</ul>
