<h4>With Guests</h4>
 <ol class="list-group">
    <% @reservations.with_guests.each do |reservation| %>
    <li class="list-group-item"><%= reservation.user.name %> Guest count: <%= reservation.guests %></li>
     <% end %>
   </ol>


<h4>Without Guests</h4>
  <ol class="list-group">
    <% @reservations.without_guests.each do |reservation| %>
      <li class="list-group-item"><%= reservation.user.name %></li>
      <% end %>
    </ol>
</div>
<%= link_to "Back", user_path(current_user), role: "button", class: "btn btn-primary btn-sm" %>
