<h2>Welcome to SpinSpin Studio!</h2>
<h4>If previous member please login:</h4>

<div class="container">
 <%= link_to 'User Login', signin_path %>
 <br>

<h4>New members please signup below:</h4>
 <%= link_to 'User Signup', new_user_path(@user) %>
</div>
