<div class="container">
  <div class="col">
    <h4> <%= @studio.name %></h4>

  <ol>
    <% @studio.spin_classes.each do |spin_class| %>
      <li><%= link_to(spin_class.name, spin_class_path(spin_class), class: "spin_class") %></li>
    <% end %>
  </ol>

    <div class="spin_class">

    </div>
    </div>
  </div>
</div>

<%= link_to('Back', spin_classes_path) %>


