<div class="container">
  <div class="col">
    <h4> <%= @studio.name %></h4>

  <ul>
    <% @studio.spin_classes.each do |spin_class| %>
        <li><%= spin_class.name %></li>
    <% end %>
  </ul>
    </div>
  </div>
</div>
<%= link_to('Back', spin_classes_path) %>

